body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.contenedor{
    width: 460px;
	min-height:675px;
    height: 105%;
    background: black;
    color: white;
    top: 60%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 8%;
}

.contenedor .avatar {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    top: -20%;
    left: 18%;
    z-index: -1;
  }

.contenedor label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: inline;
}
.contenedor input {
    width: 100%;
    margin-bottom: 10px;
  }

.contenedor input[type="checkbox"]{
    width: 5%;
}
.contenedor input[type="text"], .contenedor input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 30px;
    color: #fff;
    font-size: 16px;
  }
.contenedor input[type="submit"]{
    width: 100%;
    border: none;
    outline: none;
    height: 100%;
    background: #b80f22;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
    
.contenedor input[type="submit"]:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
  }
/*Agregado el radio*/
.contenedor .entradaRadio1{
	position:relative;
	left:70px;
	
		
}
.contenedor .entradaRadio2{
	position:relative;
	
	display:inline-block;
	padding-left:2px;
	left:-140px;
	top:-27px;
}

.contenedor label.textLabel{
	font-size:15px;
	margin-left:10%;

}

.contenedor label.textLabel1{
	font-size:15px;
	margin-left:30%;

}
@media only screen and (max-height:550px){
	.contenedor{
		height:700px;
		top:80%;
		font-size:85%;
	}
}