body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.contenedor{
    width: 460px;
    height: 580px;
    background: black;
    color: white;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 8%;
}

.contenedor .avatar {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    top: -20%;
    left: 18%;
  }

.contenedor label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: inline;
}
.contenedor input {
    width: 100%;
    margin-bottom: 10px;
  }

.contenedor input[type="checkbox"]{
    width: 5%;
}
.contenedor input[type="text"], .contenedor input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 30px;
    color: #fff;
    font-size: 16px;
  }
.contenedor input[type="submit"]{
    width: 100%;
    border: none;
    outline: none;
    height: 100%;
    background: #b80f22;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
    
.contenedor input[type="submit"]:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
  }