/*Para el boton confesar*/
div.overlayConfes{
    background:rgba(0,0,0,.3);
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	display:flex;
	align-items:center;
	justify-content:center;   
    visibility: hidden;
    
}

    div.overlayConfes.active{
        visibility: visible;
    }
div.popupConfes{
    height: 300px;
    width: 50%;
    
    background-color: seashell;
    color: red;
    transition: 0.1s ease all;
    opacity: 0;
}
    div.popupConfes.active{
        transition: 1s ease all;
        opacity: 1;
        
    }
    

table.tableClass2{
    font-size: 18px;
    width: 200%;
    color:black;
    position: relative;
    display: inherit;
    right: -25%;
    align-text:center;
}
    table.tableClass2 input{
        align-content: center;
    }
    
/*Fin para el boton confesar*/
div.overlay{
    background:rgba(0,0,0,.3);
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	display:flex;
	align-items:center;
	font-color:black;
	justify-content:center;   
    visibility: hidden;
}

    div.overlay.active{
        visibility: visible;
    }

h2#infoH2{
	color:red;
	font-size:20px;
}
a.cerrar-popup{

}

    a.cerrar-popup:hover{
        display:inline-block;
        background-color: yellow;
        position: relative;

    }
img.classIcon{
    max-width: 16px; 
    max-height: 16px;
    padding: 5px;

}
table.tableClass1{
    font-size: 18px;
    align-content: center;
    margin: 0 auto;
    color:black;
}
    table.tableClass1 input{
        align-content: center;
    }

div.popup{
    height: 250px;
    width: 50%;
    background-color: seashell;
    transition: 0.1s ease all;
    opacity: 0;
    text-align: center;
    font-color:black;

}
   div.popup.active{
       transition: 1s ease all;
        opacity: 1;
    }

    
button.open-popup {
	font-weight: bold;
	color: #fff;
	background-color: #009220;
	border-radius: 5px;
	border: none;
	padding: 3px;
	width: 70px;
	height: 30px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	display: inline-block;
}

button.open-popup:hover {
	background-color: #e6e600;
	color: #000;
}

@media only screen and (max-width:750px){
    div.popup{
        height: 250px;
        width: 60%;
    }
    td.vaca{
        display: inline-block;
    }
    div.popupConfes{
        height: 300px;
        width: 60%;
    }
    table.tableClass2{
        right: -10%;
    }

}